/* Custom lato font */
@font-face {
    font-family: LatoReg;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: LatoBold;
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: LatoThin;
    src: url(../fonts/Lato-Light.ttf);
}

:root {
    /* ===== Colors ===== */
    --body-color: #fff;
    --primary-color: #5115F7;
    --dark: #000000;
    --rose: #F0EBFE;
    --gray-1: #9D9D9D;
    --gray-2: #C4C4C4;
    --gray-3: #D9D9D9;
    --gray-4: #E9E9E9;
    --gray-5: #F5F5F5;
    

    /* Spacing */
    --none: 0px;
    --extra-small: 4px;
    --small: 8px;
    --medium: 16px;
    --large: 32px;
    --extra-large: 64px;
    --extra-extra-large: 128px;
    --buttons: 8px 16px;

    /* Borders */
    --button: 4px;
    --radius-small: 4px;
    --radius-medium: 8px;
    --radius-large: 12px;
    --radius-extra-large: 16px;
}
.bold{
    font-weight: 400;
    font-family: LatoBold ;
    margin-top: 0px;
}

h1 {
    font-family: "LatoThin";
    font-weight: 300;
}

h2{
    font-family: "LatoThin";
    font-weight: 300;
}

h3{
    font-family: "LatoBold";
    font-weight: 500;
}

h4{
    font-family: "LatoBold";
    font-weight: 500;
    font-size: 1.5em;
}

h5{
    font-family: "LatoBold";
    font-weight: 500;
    font-size: 1.1em;
}
body{
    margin: 0 auto;

}
::marker{
    content: "";
}
/* start of mobile code */

/* start of header */

header{
   background-color: var(--primary-color);
   padding: 32px 16px 32px 16px;
        & svg{
            width: 100%;
        }
}

/* start of page */
.weather-container{
    padding: 0px;
    & .intro--block{
        background-color: var(--primary-color);
        color: var(--body-color);
        padding: 32px 16px 32px 16px;
        & h1{
            font-size: 36px;
            margin-top: 0px;
        }
        & details{
            font-family: "LatoThin";
            font-size: 1em;
            & summary{
                &::marker{
                    content: "";
                }
            }
        }
        & .read--more{
            color: var(--body-color);
            margin-top: var(--medium);
            padding: 0px;
            background-color: var(--primary-color);
            border: none;
            font-family: "LatoThin";
            font-size: 1em;
            &:hover{
                text-decoration: underline var(--gray-5);
                text-underline-offset: 2px;
                cursor: pointer;
            }
            &:active{
                text-decoration: underline var(--gray-5);
                text-underline-offset: 2px;
            }
        }
    }
    & .days-block{
        padding: 32px 16px 32px 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-size: 1em;
        & ol{
            padding-inline-start: 0px;
            font-family: "LatoThin";
            font-size: 1em;
        }
        & .full--list{
            border-bottom: 1px solid var(--gray-5);
            padding-bottom: 10px;
            & .mobile--view{
                font-weight: 400;
                font-family: LatoBold ;
            }
            & ol{
                & .desktop--view{
                    display: none;
                }
                gap: 8px;
                display: flex;
                flex-direction: row;
                align-items: center;
                & div{
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    & p{
                        margin: 0px;
                        padding: 0px 2px 0px 2px;
                        font-weight: 400;
                        font-family: LatoBold ;
                    }
                }
            }
        }

        & .days-form{
            display: flex;
            flex-direction: column;
            gap: 1em;
            & h3{
                font-size: 1.2em;
            }
            & .--form{
                width: 100%;
                gap: 1em;
                display: flex;
                flex-direction: column;
                & input{
                    border: 1px solid var(--dark);
                    background-color: var(--body-color);
                    color: var(--dark);
                    padding: 16px 48px;
                    font-size: 1em;
                    border-radius: 100px;
                    font-family: "LatoReg";
                    text-align: center;
                }
                & button{
                    padding: 16px 48px;
                    font-family: "LatoReg";
                    border: 1px solid var(--dark);
                    background-color: var(--dark);
                    color: var(--body-color);
                    font-size: 1em;
                    border-radius: 100px;
                    &:hover{
                        background-color: var(--primary-color);
                        border: 1px solid var(--primary-color);
                        color: var(--body-color);
                        transition: ease-in 0.1s;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
.current-weather-block{ 
    padding: 1em;
    & .block--inner{
        padding: 2em;
        background-color: var(--rose);
        border-radius: 6px;
        & h2{
            font-family: "LatoBold";
            font-weight: 500;
            font-size: 90px;
            margin: 0px;
        }
        & h3{

        }
        & p{
            font-size: 1em;
            border-radius: 100px;
            font-family: "LatoReg";
        }
    }
}
.activity-block{
    padding: 1em;
    & .container{
        & ul{
            padding-inline-start: 0px;
            display: flex;
            flex-direction: column;
            gap: 1em;
            & li{
                border-bottom: 1px solid var(--gray-3);
                margin-bottom: 2px;
                & img{
                    object-fit: cover;
                }
                & h5{
                    margin-top: 1em;
                    margin-bottom: 2px;
                }
                & p{
                    font-weight: 400;
                    font-family: Latoreg ;
                    margin-bottom: 1.5em;
        
                }

            }
        }

    }
}
footer{
    height: 50vh;
    width: 100%;
    background-color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    & .footer-container{
        padding: 0px 16px;
        & h1{    
            font-size: 28px;
            font-weight: 800;
            color: #66E5BF;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    }
}
@media screen and (min-width: 720px) and (max-width: 1000px) {
        & .days-block{
            & .full--list{
                border-bottom: 1px solid var(--gray-5);
                & .mobile--view{
                    display: none;
                }
                & .desktop--view{
                    display: block !important;
                }
            }
    
            & .days-form{
                & .--form{
                    align-items: flex-start;
                }
            }
        }
    }
