/* Custom lato font */
@font-face {
    font-family: LatoReg;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: LatoBold;
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: LatoThin;
    src: url(../fonts/Lato-Light.ttf);
}

:root {
    /* ===== Colors ===== */
    --body-color: #fff;
    --primary-color: #5115F7;
    --dark: #000000;
    --rose: #F0EBFE;
    --gray-1: #9D9D9D;
    --gray-2: #C4C4C4;
    --gray-3: #D9D9D9;
    --gray-4: #E9E9E9;
    --gray-5: #F5F5F5;
    

    /* Spacing */
    --none: 0px;
    --extra-small: 4px;
    --small: 8px;
    --medium: 16px;
    --large: 32px;
    --extra-large: 64px;
    --extra-extra-large: 128px;
    --buttons: 8px 16px;

    /* Borders */
    --button: 4px;
    --radius-small: 4px;
    --radius-medium: 8px;
    --radius-large: 12px;
    --radius-extra-large: 16px;
}
.bold{
    font-weight: 400;
    font-family: LatoBold ;
    margin-top: 0px;
}

h1 {
    font-family: "LatoThin";
    font-weight: 300;
}

h2{
    font-family: "LatoThin";
    font-weight: 300;
}

h3{
    font-family: "LatoBold";
    font-weight: 500;
}

h4{
    font-family: "LatoBold";
    font-weight: 500;
    font-size: 1.5em;
}

h5{
    font-family: "LatoBold";
    font-weight: 500;
    font-size: 1.1em;
}
body{
    margin: 0 auto;
    width: 100%;

}
::marker{
    content: "";
}
/* start of mobile code */

/* start of header */

header{
   background-color: var(--primary-color);
   padding: 32px 16px 32px 16px;
   max-width: 1408px;
   margin: 0 auto;
        & svg{
            width: 100%;
        }
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* start of page */
.weather-container{
    padding: 0px;
    & .intro--block{
        background-color: var(--primary-color);
        color: var(--body-color);
        padding: 32px 16px 32px 16px;
        & h1{
            font-size: 36px;
            margin-top: 0px;
        }
        & details{
            font-family: "LatoThin";
            font-size: 1em;
            & summary{
                &::marker{
                    content: "";
                }
            }
        }
        & .read--more{
            color: var(--body-color);
            margin-top: var(--medium);
            padding: 0px;
            background-color: var(--primary-color);
            border: none;
            font-family: "LatoThin";
            font-size: 1em;
            &:hover{
                text-decoration: underline var(--gray-5);
                text-underline-offset: 2px;
                cursor: pointer;
            }
            &:active{
                text-decoration: underline var(--gray-5);
                text-underline-offset: 2px;
            }
        }
    }
    & .days-block{
        padding: 32px 16px 32px 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-size: 1em;
        & ol{
            padding-inline-start: 0px;
            font-family: "LatoThin";
            font-size: 1em;
        }
        & .full--list{
            border-bottom: 1px solid var(--gray-5);
            padding-bottom: 10px;
            & .mobile--view{
                font-weight: 400;
                font-family: LatoBold ;
            }
            & ol{
                & .desktop--view{
                    display: none;
                }
                gap: 8px;
                display: flex;
                flex-direction: row;
                align-items: center;
                & div{
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    & p{
                        margin: 0px;
                        padding: 0px 2px 0px 2px;
                        font-weight: 400;
                        font-family: LatoBold ;
                    }
                }
            }
        }

        & .days-form{
            display: flex;
            flex-direction: column;
            gap: 1em;
            & h3{
                font-size: 1.2em;
            }
            & .--form{
                width: 100%;
                gap: 1em;
                display: flex;
                flex-direction: column;
                & input{
                    border: 1px solid var(--dark);
                    background-color: var(--body-color);
                    color: var(--dark);
                    padding: 16px 48px;
                    font-size: 1em;
                    border-radius: 100px;
                    font-family: "LatoReg";
                    text-align: center;
                }
                & button{
                    padding: 16px 48px;
                    font-family: "LatoReg";
                    border: 1px solid var(--dark);
                    background-color: var(--dark);
                    color: var(--body-color);
                    font-size: 1em;
                    border-radius: 100px;
                    &:hover{
                        background-color: var(--primary-color);
                        border: 1px solid var(--primary-color);
                        color: var(--body-color);
                        transition: ease-in 0.1s;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
.current-weather-block{ 
    padding: 1em;
    & .block--inner{
        padding: 2em;
        background-color: var(--rose);
        border-radius: 6px;
        & h2{
            font-family: "LatoBold";
            font-weight: 500;
            font-size: 90px;
            margin: 0px;
        }
        & h3{

        }
        & p{
            font-size: 1em;
            border-radius: 100px;
            font-family: "LatoReg";
        }
    }
}
.activity-block{
    padding: 1em;
    & .container{
        & ul{
            padding-inline-start: 0px;
            display: flex;
            flex-direction: column;
            gap: 1em;
            & li{
                border-bottom: 1px solid var(--gray-3);
                margin-bottom: 2px;
                & .desktop-image{
                    display: none;
                }
                & img{
                    object-fit: cover;
                }
                & h5{
                    margin-top: 1em;
                    margin-bottom: 2px;
                }
                & p{
                    font-weight: 400;
                    font-family: Latoreg ;
                    margin-bottom: 1.5em;
        
                }

            }
        }

    }
}

.pop-up{
    border: none;
    position: absolute;
    width: 1198px ;
    padding: 0px;
    & form{
        position: absolute;
        right: 1em;
        top: 1em;
        & button{
            border: none;
            font-size: 4em;
            background-color: inherit;
            color: var(--body-color);
            &:hover{
                cursor: pointer;
                color: var(--primary-color);
                transition: ease-in 0.2s;
                transform: scale(105%);
            }
        }
    }
    & .pop-up-carousel{
        background-color: var(--primary-color);
        height: 455px;

    }
    & .pop-up-content{
        padding: 30px 16px 32px 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
        & h2{
            font-size: 3em;
            font-weight: 700;
        }
        & p{
            margin: 0px;
            font-size: 1.2em;
        }
        & .pop-up-p1{
            padding: 0.5em 1em ;
            background-color: #F0EBFE;
            font-weight: 500;

        }
        & .pop-up-p2{
            font-weight: 600;

        }
    }
}
footer{
    height: 50vh;
    width: 100%;
    background-color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    & .footer-container{
        padding: 0px 16px;
        & h1{    
            font-size: 28px;
            font-weight: 800;
            color: #66E5BF;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    }
}
@media screen and (min-width: 720px) and (max-width: 1100px) {
        & .days-block{
            & .full--list{
                border-bottom: 1px solid var(--gray-5);
                & .mobile--view{
                    display: none;
                }
                & .desktop--view{
                    display: block !important;
                }
            }
    
            & .days-form{
                & .--form{
                    align-items: flex-start;
                }
            }
        }
        .activity-block{
            padding: 1em;
            & .container{
                & ul{
                    padding-inline-start: 0px;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    grid-column-gap: 16px;
                    grid-row-gap: 16px;
                     & .desktop-image{
                        display: none;
                    }
                }
        
            }
        }
        .pop-up{
            & .pop-up-content{
                padding: 30px 61px 73px 61px;
            }
        }
    }

    @media screen and (min-width: 1100px){
        p{
            font-size: 1.2em;
        }

       .full-wrapper{
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 12px;
            & .desktop-left , .desktop-right{
                width: 50%;
            }
            & .desktop-left{
                & .weather-container{
                    & .intro--block{
                        padding-left: 62px;
                        padding-right: 2em;
                        padding-bottom: 150px;
                        & h1 {
                            font-size: 72px;
                            margin-top: 0px;
                            font-weight: 500;
                            font-family: "LatoReg";
                        }
                        & summary{
                            font-size: 1.2em;
                        }
                    }
                    & .days-block{
                        padding-left: 62px;
                        padding-right: 2em;
                        background-color: var(--gray-5);
                        padding-bottom: 74px;
                        gap: 180px;
                        & .full--list{
                            border-bottom: 1px solid var(--gray-4);
                            width: 508px;
                            & ol{
                                display: grid;
                                grid-template-columns: 1fr repeat(4, 0.3fr);
                                grid-template-rows: 1fr;

                                grid-row-gap: 0px;
                            }
                            & .mobile--view{
                                display: none;
                            }
                            & .desktop--view{
                                display: block ;
                                font-weight: 500;
                                font-family: "LatoBold";
                            }
                        }
                        
                        & .days-form{
                            border-top: 1px solid var(--gray-4);
                            & .--form{
                                align-items: flex-start;
                            }
                        }
                    }
                }
            }
            & .desktop-right{
                margin-left: -1em;
                padding-left: 1em;
                padding-top: 1em;
                margin-top: -90px;
                background-color: var(--body-color);
                & .current-weather-block{
                    padding-left: 3.8em;
                padding-right: 3.8em;
                    & .block--inner{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                    }
                    & .current-detail{
                        max-width: 351px;
                    }
                }
                & .activity-block{
                    padding-left: 3.8em;
                padding-right: 3.8em;
                    & .container{
                        & .activity-do{
                             & li{
                                border: none;
                                & .event-popup {
                                    display: flex;
                                    gap: 1em;
                                align-items: center;
                                border-bottom: 1px solid var(--gray-4);
                                transition: ease-out 0.15s;
                                transform: scale(100%);
                                &:hover{
                                    cursor: pointer;
                                    transition: ease-in 0.15s;
                                    border-bottom: 1px solid var(--primary-color);
                                    transform: scale(102%);
                                }
                            }
                                    & .desktop-image{
                                        display: block;
                                    }
                                    & .mobile-image{
                                        display: none;
                                    }
                                }
                             }
                        }
                    }
                }
            }

            .pop-up{
                & .pop-up-content{
                    padding: 30px 61px 73px 61px;
                }
            }
       }
    

